body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: lightblue;
    box-sizing: border-box;
}

.topDiv {
    height: 10vh;
    width: 100vw;
    background-color: rgb(112, 138, 147);
}

.summaryDiv {
    height: 20vh;
    width: 100vw;
    background-color: rgb(44, 105, 125);
}

.container {
    text-align: center;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header {
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    margin: 0px;
}

p {
    margin: 0px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80vw;
    height: 80%;
    max-width: 600px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
}

.button-grid button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-grid button:hover {
    background-color: #008CBA;
    color: white;
}

.nav-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.nav-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.next-button {
    background-color: #0d7b3d;
    color: white;
    cursor: pointer;
}

.next-button:disabled {
    background-color: #ccc !important;
    color: white !important;
    cursor: not-allowed;
}

.back-button {
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

.back-button:hover {
    background-color: #c0392b;
}

.clear-button {
    background-color: red;
    color: white;
    cursor: pointer;
}

.clear-button:hover {
    background-color: darkred;
}

.bottomDiv {
    height: 20vh;
    width: 100vw;
    background-color: rgb(112, 138, 147);
    align-items: start;
    justify-content: center;
    display: flex;
}










